header{
    background-color: #2C3E50;
}

.mybg-green{
    background-color: #1ABC9C;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
  }