header{
    background-color: #2C3E50;
}

.mybg-green{
    background-color: #1ABC9C;
}

.mybg-darkblue{
    background-color: #3A546D;
}

.mybg-darkgrey{
    background-color: #2C3E50;
}

.myhr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0; 
    border-radius: 95px 95px 95px 95px;
    opacity: 1;
  }

  .myblack{
    border-top: 2px solid black;
    border-color: #2C3E50;
  }

  .mywhite{
    border-top: 2px solid white;
    border-color: white;
  }

  .btn{
    border: 1px solid white;
    background-color: #1ABC9C;

  }

.mybg-darkblue i.fa, #in{
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px; 
    text-align: center; 
    padding: 0; 
    margin: 5px;
    color: white; 
}

.mywidth{
  width: 10%;
}

    